##### Handle Categorical Features 
###### One Hot Encoding

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic.csv',usecols=['Sex'])

In [3]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [4]:
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [5]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

##### we can use only one feature to represent both the features.

In [6]:
df=pd.read_csv('titanic.csv',usecols=['Embarked'])

In [7]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [8]:
df.dropna(inplace=True)

In [9]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [10]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [11]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

In [12]:
pd.get_dummies(df,drop_first=False).head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

##### Onehotencoding with many categories in a feature

In [16]:
df=pd.read_csv('Mercedes.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [17]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [18]:
for i in df.columns:
    print(df[i].value_counts)

<bound method IndexOpsMixin.value_counts of 0        k
1        k
2       az
3       az
4       az
        ..
4204    ak
4205     j
4206    ak
4207    al
4208     z
Name: X0, Length: 4209, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       v
1       t
2       w
3       t
4       v
       ..
4204    s
4205    o
4206    v
4207    r
4208    r
Name: X1, Length: 4209, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: X2, Length: 4209, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       a
1       e
2       c
3       f
4       f
       ..
4204    c
4205    d
4206    a
4207    f
4208    c
Name: X3, Length: 4209, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       d
1       d
2       d
3       d
4       d
       ..
4204    d
4205    d
4206    d
4207    d
4208    d
Name: X4, Length: 4209, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        u
1        y
2        x
3        x
4        h
        ..
4204    aa
4205    aa
4206    aa
4207    aa
4208    aa
Name: X5, Length: 4209, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       j
1       l
2       j
3       l
4       d
       ..
4204    d
4205    h
4206    g
4207    l
4208    g
Name: X6, Length: 4209, dtype: object>

In [19]:
df['X0'].value_counts

<bound method IndexOpsMixin.value_counts of 0        k
1        k
2       az
3       az
4       az
        ..
4204    ak
4205     j
4206    ak
4207    al
4208     z
Name: X0, Length: 4209, dtype: object>

In [20]:
df['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [21]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

#### Check the KDD CUP orange challenge with Ensemble Selection
###### They have Won the Kaggle competetion, they took 10 most frequent categories and they have applied One Hot Encoding and others were dropped.

In [22]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [23]:
df.X1.value_counts()

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
ab      3
d       3
q       3
Name: X1, dtype: int64

In [24]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index

In [25]:
lst_10

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

#### Applying onehotencoding only to these feature and skipping the rest.

In [40]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [41]:

lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [42]:
import numpy as np
for categories in lst_10:
    df[categories]=np.where(df['X1']==categories,1,0)

In [43]:
lst_10.append('X1')

In [44]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]

### we can check for the Top 10 categorical feature with the one hot Encoding method.